Repository ffflorian/sauerteig: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{js,ts,jsx,tsx,css,csv,md,json,yml,yaml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

update eslint-config-react
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

enable eslint updates
  .github/dependabot.yml
Due: prettier

chore: Update ESLint (#1067)
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  eslint.config.ts
  lefthook.yml
  package.json
  src/Content.tsx
  src/data.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier, oxlint, eslint

chore: Remove old eslint config
  .eslintrc.json
Due: prettier

fix: Build
  package.json
  vite.config.ts
  yarn.lock
Due: prettier, oxlint, eslint

Deploying to gh-pages from @ ffflorian/sauerteig@91523c6aee9a336a66591f3c6d8acb4e6cf7170d 🚀
  assets/index-Cc7gkjjo.js
  index.html
Due: prettier, oxlint, eslint

feat: Add favicon
  index.html
  public/img/favicon.ico
Due: none

Deploying to gh-pages from @ ffflorian/sauerteig@1e4e66024746356a42f6cb5ed203b38232cfd3bf 🚀
  img/favicon.ico
  index.html
Due: none

chore: Add yarn update action
  .github/workflows/yarn_update.yml
Due: prettier

chore: Create pull request only if yarn version is outdated
  .github/workflows/yarn_update.yml
Due: prettier

chore: Don't run yarn check on main branch
  .github/workflows/yarn_update.yml
Due: prettier

chore(deps): bump yarn to version 4.13.0
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore: Don't lint .yarnrc.yml
  .prettierignore
Due: none

chore(deps): Bump typescript to 6.0.2
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore(deps): Bump typescript to 6.0.2 (#1084)
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

chore: Add minimum release age for dependabot [ci skip]
  .github/dependabot.yml
Due: prettier

chore: Pin ESLint to 9.x
  .github/dependabot.yml
Due: prettier

Deploying to gh-pages from @ ffflorian/sauerteig@58cb40b65478a9c22f6a70626ac4347dbd2f7bb5 🚀
  assets/index-BIF1Faya.css
  assets/index-C2HLzMMw.js
  assets/index-Cc7gkjjo.js
  assets/index-Dnwo4RHK.css
  index.html
Due: prettier, oxlint, eslint

feat: add dark theme with manual toggle button
  src/Content.tsx
  src/index.css
Due: prettier, oxlint, eslint

feat: add dark theme with manual toggle button (#1096)
  src/Content.tsx
  src/index.css
Due: prettier, oxlint, eslint

Deploying to gh-pages from @ ffflorian/sauerteig@eb2490255a12fbda05c51d66a1af9c5cd8658ca1 🚀
  assets/index-BIF1Faya.css
  assets/index-C4uX-1Ia.js
  assets/index-DkFYpId5.css
  index.html
Due: prettier, oxlint, eslint

fix: align dark mode icon vertically with title
  src/Content.tsx
  src/index.css
Due: prettier, oxlint, eslint

fix: align dark mode icon vertically with title (#1097)
  src/Content.tsx
  src/index.css
Due: prettier, oxlint, eslint

Deploying to gh-pages from @ ffflorian/sauerteig@faaac9ac2cb44b347e78034aef8ac119ed099697 🚀
  assets/index-BhtiIV_O.js
  assets/index-D_2F459h.css
  assets/index-DkFYpId5.css
  index.html
Due: prettier, oxlint, eslint

docs: add agents.md with repository knowledge
  agents.md
Due: prettier

docs: rename agents.md to AGENTS.md and add yarn fix instruction
  AGENTS.md
Due: prettier

docs: add branch naming convention to AGENTS.md
  AGENTS.md
Due: prettier

docs: add no Claude session URL rule to AGENTS.md
  AGENTS.md
Due: prettier

docs: apply prettier formatting, add yarn and no-npm rule to AGENTS.md
  AGENTS.md
Due: prettier

docs: add AGENTS.md with repository knowledge (#1098) [ci skip]
  AGENTS.md
Due: prettier

docs: Add CLAUDE.md [ci skip]
  CLAUDE.md
Due: prettier

chore: Disable scripts in yarn config
  .yarnrc.yml
Due: prettier

chore: Replace workflows with @ffflorian/actions
  .github/workflows/yarn_update.yml
Due: prettier

chore: Add git mirror
  .github/workflows/git_mirror.yml
Due: prettier

chore: Use npx --no [ci skip]
  lefthook.yml
Due: prettier

docs: Improve AGENTS.md [ci skip]
  AGENTS.md
Due: prettier

chore: Fix lefthook commands [ci skip]
  lefthook.yml
Due: prettier

docs: Add Copilot instructions [ci skip]
  .github/copilot-instructions.md
Due: prettier

chore: Add force release workflow [ci skip]
  .github/workflows/force-release.yml
Due: prettier

chore: Add Dockerfile
  Dockerfile
Due: none
