Repository ffflorian/sauerteig: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{js,ts,jsx,tsx,css,csv,md,json,yml,yaml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

Notes added by 'git notes add'
  10bb6225469d5fdcd9e9db188411f068edb8ed32
Due: none

feat: cumulative progress bar with sequential checkboxes
  .github/screenshots/progress-bar.png
  packages/frontend/src/Content.tsx
  packages/frontend/src/Introduction.tsx
  packages/frontend/src/ProgressBar.tsx
  packages/frontend/src/Step.tsx
  packages/frontend/src/__tests__/Content.test.tsx
  packages/frontend/src/__tests__/Step.test.tsx
  packages/frontend/src/index.css
Due: prettier, oxlint, eslint

feat: cumulative progress bar with sequential checkboxes (#1196)
  .github/screenshots/progress-bar.png
  packages/frontend/src/Content.tsx
  packages/frontend/src/Introduction.tsx
  packages/frontend/src/ProgressBar.tsx
  packages/frontend/src/Step.tsx
  packages/frontend/src/__tests__/Content.test.tsx
  packages/frontend/src/__tests__/Step.test.tsx
  packages/frontend/src/index.css
Due: prettier, oxlint, eslint

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  b2d04cf10cffd32b68fe136a43aed8c352e11548
Due: none

fix: make ingredient checkboxes non-sequential
  packages/frontend/src/Introduction.tsx
  packages/frontend/src/Step.tsx
  packages/frontend/src/__tests__/Introduction.test.tsx
  packages/frontend/src/__tests__/Step.test.tsx
Due: prettier, oxlint, eslint

docs: document progress bar and checklist behavior in AGENTS.md
  AGENTS.md
Due: prettier

fix: make ingredient checkboxes non-sequential (#1197)
  AGENTS.md
  packages/frontend/src/Introduction.tsx
  packages/frontend/src/Step.tsx
  packages/frontend/src/__tests__/Introduction.test.tsx
  packages/frontend/src/__tests__/Step.test.tsx
Due: prettier, oxlint, eslint

chore(release): 1.13.1 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  9c2a7dbc41d532603fc34c8375b2de76b43e8fc9
Due: none

feat(frontend): add repeating bread outline background pattern
  packages/frontend/src/index.css
Due: prettier

docs: update screenshot to show bread pattern background
  .github/screenshots/progress-bar.png
Due: none

fix(frontend): lighten bread pattern so text stays readable
  .github/screenshots/progress-bar.png
  packages/frontend/src/index.css
Due: prettier

fix(frontend): make bread pattern even fainter in both themes
  .github/screenshots/progress-bar.png
  packages/frontend/src/index.css
Due: prettier

fix(frontend): make dark-mode bread pattern brighter than background
  packages/frontend/src/index.css
Due: prettier

feat(frontend): give content area a solid background over the pattern
  .github/screenshots/progress-bar.png
  packages/frontend/src/Content.tsx
  packages/frontend/src/index.css
Due: prettier, oxlint, eslint

docs: rename screenshot to screenshot.png and update README
  .github/screenshots/screenshot.png
  README.md
Due: prettier

refactor(frontend): move background pattern into dedicated SVG files
  packages/frontend/src/index.css
  packages/frontend/src/pattern-dark.svg
  packages/frontend/src/pattern-light.svg
Due: prettier

feat(frontend): add repeating bread outline background pattern (#1198)
  .github/screenshots/progress-bar.png
  .github/screenshots/screenshot.png
  README.md
  packages/frontend/src/Content.tsx
  packages/frontend/src/index.css
  packages/frontend/src/pattern-dark.svg
  packages/frontend/src/pattern-light.svg
Due: prettier, oxlint, eslint

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  9665a80e9d353ad4fc8961d57ac8e58f6cf9716c
Due: none

fix(frontend): Wording
  packages/frontend/src/Content.tsx
Due: prettier, oxlint, eslint

refactor(frontend): Small cleanup
  packages/frontend/src/Content.tsx
  packages/frontend/src/ReminderTimer.tsx
  packages/frontend/src/Step.tsx
Due: prettier, oxlint, eslint

chore(frontend): Remove production .env file
  packages/frontend/.env.production
Due: none

refactor(backend): Use HttpCode import
  packages/backend/src/__tests__/push.service.test.ts
  packages/backend/src/health/health.controller.ts
  packages/backend/src/push/push.controller.ts
  packages/backend/src/push/push.service.ts
Due: prettier, oxlint, eslint

test(frontend): Move test into act()
  packages/frontend/src/__tests__/SauerteigProvider.test.tsx
Due: prettier, oxlint, eslint

fix(backend): Update .env warning message
  packages/backend/src/config/config.ts
Due: prettier, oxlint, eslint

chore(release): 1.14.1 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  d6e59b81527b7b5209e4a7a6fb271c0fe9076adb
Due: none

chore(release): 1.14.2 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  50ec1ea6981e94fdba0580d83e275240c4b2410b
Due: none

chore(deps): block only next major in dependabot ignore rules [ci skip]
  .github/dependabot.yml
Due: prettier

chore(release): 1.14.3 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  d58ea5518ae8254b2f23a535f985ee94b807748b
Due: none

fix(deps): Bump undici to 7.28.0
  yarn.lock
Due: none

Notes added by 'git notes add'
  f846117c0a09bfe00fc60769c3942a6092ab66ba
Due: none

chore(release): 1.14.4 [skip ci]
  CHANGELOG.md
Due: prettier

ci: group vite updates [ci skip]
  .github/dependabot.yml
Due: prettier

ci: group vitest updates [ci skip]
  .github/dependabot.yml
Due: prettier

chore: fix dependabot.yml [ci skip]
  .github/dependabot.yml
Due: prettier
