Repository ffflorian/sauerteig: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{js,ts,jsx,tsx,css,csv,md,json,yml,yaml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

Notes added by 'git notes add'
  0e43417f4f2193100babf45d864855b62c3ed571
Due: none

feat: add /_health endpoint to backend
  packages/backend/src/app.module.ts
  packages/backend/src/health/health.controller.ts
Due: prettier, oxlint, eslint

feat: exclude /_health endpoint from rate limiting
  packages/backend/src/health/health.controller.ts
Due: prettier, oxlint, eslint

feat: add health endpoint to backend (#1189)
  packages/backend/src/app.module.ts
  packages/backend/src/health/health.controller.ts
Due: prettier, oxlint, eslint

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  774508fa09be3466511f32315d1976805f59d936
Due: none

refactor: Remove unnecessary void, fix ESLint config
  packages/backend/eslint.config.ts
  packages/backend/src/main.ts
  packages/frontend/eslint.config.ts
  packages/frontend/src/ReminderTimer.tsx
Due: prettier, oxlint, eslint

feat: Add AddToHomeIcon
  packages/frontend/src/InstallPrompt.tsx
Due: prettier, oxlint, eslint

refactor: Cleanup code
  packages/backend/src/main.ts
  packages/frontend/src/ReminderTimer.tsx
  packages/frontend/src/Step.tsx
Due: prettier, oxlint, eslint

test: Add tests
  packages/backend/package.json
  packages/backend/src/__tests__/health.controller.test.ts
  packages/backend/src/__tests__/push.controller.test.ts
  packages/backend/src/__tests__/push.scheduler.test.ts
  packages/backend/src/__tests__/push.service.test.ts
  packages/backend/src/__tests__/setup.ts
  packages/backend/vitest.config.ts
  packages/frontend/.env.test
  packages/frontend/package.json
  packages/frontend/src/ReminderTimer.tsx
  packages/frontend/src/Step.tsx
  packages/frontend/src/__tests__/Content.test.tsx
  packages/frontend/src/__tests__/InstallPrompt.test.tsx
  packages/frontend/src/__tests__/Introduction.test.tsx
  packages/frontend/src/__tests__/ReminderTimer.test.tsx
  packages/frontend/src/__tests__/SauerteigProvider.test.tsx
  packages/frontend/src/__tests__/Step.test.tsx
  packages/frontend/src/__tests__/data.test.ts
  packages/frontend/src/__tests__/iosPwa.test.ts
  packages/frontend/src/__tests__/setup.ts
  packages/frontend/vite.config.ts
  yarn.lock
Due: prettier, oxlint, eslint

fix: yarn build
  packages/frontend/src/__tests__/ReminderTimer.test.tsx
  packages/frontend/src/__tests__/Step.test.tsx
  packages/frontend/src/__tests__/setup.ts
  packages/frontend/tsconfig.json
Due: prettier, oxlint, eslint

docs: Fix readme and AGENTS.md
  AGENTS.md
  README.md
  package.json
  packages/backend/vitest.config.ts
Due: prettier, oxlint, eslint

remove comment [ci skip]
  packages/frontend/src/__tests__/setup.ts
Due: prettier, oxlint, eslint

test: Add tests (#1190)
  AGENTS.md
  README.md
  package.json
  packages/backend/package.json
  packages/backend/src/__tests__/health.controller.test.ts
  packages/backend/src/__tests__/push.controller.test.ts
  packages/backend/src/__tests__/push.scheduler.test.ts
  packages/backend/src/__tests__/push.service.test.ts
  packages/backend/src/__tests__/setup.ts
  packages/backend/vitest.config.ts
  packages/frontend/.env.test
  packages/frontend/package.json
  packages/frontend/src/ReminderTimer.tsx
  packages/frontend/src/Step.tsx
  packages/frontend/src/__tests__/Content.test.tsx
  packages/frontend/src/__tests__/InstallPrompt.test.tsx
  packages/frontend/src/__tests__/Introduction.test.tsx
  packages/frontend/src/__tests__/ReminderTimer.test.tsx
  packages/frontend/src/__tests__/SauerteigProvider.test.tsx
  packages/frontend/src/__tests__/Step.test.tsx
  packages/frontend/src/__tests__/data.test.ts
  packages/frontend/src/__tests__/iosPwa.test.ts
  packages/frontend/src/__tests__/setup.ts
  packages/frontend/tsconfig.json
  packages/frontend/vite.config.ts
  yarn.lock
Due: prettier, oxlint, eslint

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  52f0732079bc84b17ab7244df9e06f57c55aa3e1
Due: none

fix: show timer notifications via service worker for iOS Safari
  packages/frontend/src/ReminderTimer.tsx
  packages/frontend/src/__tests__/setup.ts
Due: prettier, oxlint, eslint

feat: warn on unreachable backend and add push send logging
  packages/backend/src/push/push.service.ts
  packages/frontend/src/ReminderTimer.tsx
  packages/frontend/src/__tests__/ReminderTimer.test.tsx
  packages/frontend/src/index.css
Due: prettier, oxlint, eslint

fix: show timer notifications via service worker for iOS Safari (#1191)
  packages/backend/src/push/push.service.ts
  packages/frontend/src/ReminderTimer.tsx
  packages/frontend/src/__tests__/ReminderTimer.test.tsx
  packages/frontend/src/__tests__/setup.ts
  packages/frontend/src/index.css
Due: prettier, oxlint, eslint

chore(release): 1.10.1 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  7ad3fbcfad52b68bf20b1f73483e34aad084de28
Due: none

fix: stop Docker build from clobbering frontend push env vars
  frontend.Dockerfile
Due: none

fix: stop Docker build from clobbering frontend push env vars (#1192)
  frontend.Dockerfile
Due: none

chore(release): 1.10.2 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  f8716ebaefde63b9e85e7dfc0341ac60306fe77e
Due: none

feat: add /info endpoint exposing version and commit
  packages/backend/src/__tests__/info.controller.test.ts
  packages/backend/src/app.module.ts
  packages/backend/src/info/info.controller.ts
Due: prettier, oxlint, eslint

feat: add /info endpoint exposing version and commit (#1193)
  packages/backend/src/__tests__/info.controller.test.ts
  packages/backend/src/app.module.ts
  packages/backend/src/info/info.controller.ts
Due: prettier, oxlint, eslint

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  0abd9292de55699cd4a7175ba0fc96aec2581e07
Due: none

fix: avoid duplicate reminder notification after background expiry
  packages/frontend/src/ReminderTimer.tsx
  packages/frontend/src/__tests__/ReminderTimer.test.tsx
Due: prettier, oxlint, eslint

fix: avoid duplicate reminder notification after background expiry (#1194)
  packages/frontend/src/ReminderTimer.tsx
  packages/frontend/src/__tests__/ReminderTimer.test.tsx
Due: prettier, oxlint, eslint

chore(release): 1.11.1 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  bbaaf6c1f5b5987417ca761af8c9326c3af6ee63
Due: none

feat: add page completion progress bar
  packages/frontend/src/Content.tsx
  packages/frontend/src/Introduction.tsx
  packages/frontend/src/ProgressBar.tsx
  packages/frontend/src/Step.tsx
  packages/frontend/src/__tests__/ProgressBar.test.tsx
  packages/frontend/src/index.css
Due: prettier, oxlint, eslint

docs: add progress bar screenshot for PR
  .github/screenshots/progress-bar.png
Due: none

docs: add app screenshot to README
  README.md
Due: prettier

fix: exclude ingredient checkboxes from progress bar
  .github/screenshots/progress-bar.png
  packages/frontend/src/Step.tsx
  packages/frontend/src/__tests__/Step.test.tsx
Due: prettier, oxlint, eslint

fix: exclude intro ingredient list from progress bar
  packages/frontend/src/Introduction.tsx
Due: prettier, oxlint, eslint

feat: add page completion progress bar (#1195)
  .github/screenshots/progress-bar.png
  README.md
  packages/frontend/src/Content.tsx
  packages/frontend/src/Introduction.tsx
  packages/frontend/src/ProgressBar.tsx
  packages/frontend/src/Step.tsx
  packages/frontend/src/__tests__/ProgressBar.test.tsx
  packages/frontend/src/__tests__/Step.test.tsx
  packages/frontend/src/index.css
Due: prettier, oxlint, eslint

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
Due: prettier
