Repository ffflorian/sauerteig: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

prettier:
  run: npx --no-install prettier --write {staged_files} && git add {staged_files}

oxlint:
  run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}

eslint:
  run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

ci: group nestjs updates [ci skip]
  .github/dependabot.yml
Due: prettier

chore(release): 1.14.5 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  b57d9da75c9924e7246b9afa3bcaf0d99c9967b1
Due: none

ci: Group ffflorian/actions updates [ci skip]
  .github/dependabot.yml
Due: prettier

chore(deps-dev): Bump @types/node to ~26 [ci skip]
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: prettier

chore(release): 1.14.6 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  c5d4c145388c7027f3da96f682534c89a8ff1da3
Due: none

chore(deps): bump yarn to version 4.17.0
  .yarn/releases/yarn-4.16.0.cjs
  .yarn/releases/yarn-4.17.0.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore(release): 1.14.7 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  e07f0787323d0f0ff87ef7ed350f5873d4fc2e53
Due: none

chore(release): 1.14.8 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  76dea6cec4d6659cab49b412844d2f3ae9811c7e
Due: none

chore(deps): Remove eslint-config-react
  packages/frontend/eslint.config.ts
  packages/frontend/package.json
  yarn.lock
Due: prettier, oxlint, eslint

chore: apply lint autofix from updated eslint-config
  packages/backend/src/push/subscription.schema.ts
Due: prettier, oxlint, eslint

chore(deps-dev): Bump @ffflorian/eslint-config from 1.0.2 to 1.0.4 (#1264) [ci skip]
  packages/backend/package.json
  packages/backend/src/push/subscription.schema.ts
  yarn.lock
Due: prettier, oxlint, eslint

chore(release): 1.14.9 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  c42edfd9d57d95d0ce41688925c8a03ea6e94351
Due: none

chore(release): 1.14.10 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  7164c889ca4eecc7f2a51b3c220530afe650aa28
Due: none

chore(release): 1.14.11 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  85fad2831be22194e8d4bd8eb82f9a7c3dee836b
Due: none

chore: Update lockfile
  yarn.lock
Due: none

chore(release): 1.14.12 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  a28830f577df92df16446b38db496a8dc5faf6e9
Due: none

chore(release): 1.14.13 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  987b3602ee571d63c69860810c07693d1210b34e
Due: none

chore(deps): bump yarn to version 4.17.1
  .yarn/releases/yarn-4.17.0.cjs
  .yarn/releases/yarn-4.17.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

chore(release): 1.14.14 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  2fdc02ddad8ba7c57484008b88e1ef703e7ca575
Due: none

chore(release): 1.14.15 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  95e534caa16fa40b7092a0dee806f87c40789eb9
Due: none

chore(release): 1.14.16 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  515e56836f89b5d631c302e2e29e8b06ea98e619
Due: none

chore(deps): Bump undici to 7.29.0
  yarn.lock
Due: none

chore(release): 1.14.17 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  c73f88168f09aa398de3406ff67d172c362c7d58
Due: none

chore(release): 1.14.18 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  c06634b80a1676ebe27212dc44566d468554b211
Due: none

chore(deps): bump yarn to version 4.18.0
  .yarn/releases/yarn-4.17.1.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  package.json
Due: prettier

fix(deps): Bump brace-expansion to 5.0.9
  yarn.lock
Due: none

Path conditions:
  prettier: any of: *.{js,ts,jsx,tsx,css,csv,md,json,yml,yaml}
  oxlint: any of: *.{js,ts,jsx,tsx}
  eslint: any of: *.{js,ts,jsx,tsx}
