Repository ffflorian/sauerteig: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{js,ts,jsx,tsx,css,csv,md,json,yml,yaml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

chore(release): 1.14.19 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  413fa2033ff471eb4c72f7429ce7d6a77f2eb242
Due: none

chore(release): 1.14.20 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  add1bd91ec69f48822527e0b3823f46f3ce345b9
Due: none

chore(release): 1.14.21 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  d94fe3f85b49da7230d80bdd453354848f0a539e
Due: none

chore(release): 1.14.22 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  aede36a5143af6ac1bab655d022e7264e745c9d7
Due: none

chore(release): 1.14.23 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  c273985db419e480ff675298d16b19bb0ef22f4c
Due: none

chore(release): 1.14.24 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  65ed125b3e24a3e0156c91e35496e564f581ace9
Due: none

chore(release): 1.14.25 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  e495afbed6f3f56d117da20b3261d25691921a1b
Due: none

add vite
  packages/backend/package.json
  yarn.lock
Due: prettier

docs: update documented vitest version to 5
  AGENTS.md
Due: prettier

fix: restore type-checking under vitest 5
  packages/backend/tsconfig.json
  packages/frontend/src/__tests__/setup.ts
Due: prettier, oxlint, eslint

chore: migrate to Vitest 5 (#1376) [ci skip]
  AGENTS.md
  packages/backend/package.json
  packages/backend/tsconfig.json
  packages/frontend/package.json
  packages/frontend/src/__tests__/setup.ts
  yarn.lock
Due: prettier, oxlint, eslint

chore(release): 1.14.26 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  d5abcb677fb71db498e139f3eab4b11efb1df0b5
Due: none

chore(release): 1.14.27 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  78d6756f680a773cdf22d50206a6a4e4a014a634
Due: none

chore: Remove ESLint
  lefthook.yml
  packages/backend/.oxlintrc.json
  packages/backend/eslint.config.ts
  packages/backend/package.json
  packages/backend/src/__tests__/push.controller.test.ts
  packages/backend/src/config/config.ts
  packages/frontend/.oxlintrc.json
  packages/frontend/eslint.config.ts
  packages/frontend/package.json
  yarn.lock
Due: prettier, oxlint, eslint

chore: Remove ESLint (#1377)
  lefthook.yml
  packages/backend/.oxlintrc.json
  packages/backend/eslint.config.ts
  packages/backend/package.json
  packages/backend/src/__tests__/push.controller.test.ts
  packages/backend/src/config/config.ts
  packages/frontend/.oxlintrc.json
  packages/frontend/eslint.config.ts
  packages/frontend/package.json
  yarn.lock
Due: prettier, oxlint, eslint

chore(release): 1.14.28 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  4e006f5878dddf553f42dd69fc8a6af0b1db6aad
Due: none

chore: Add timezone to workflow cron settings [ci skip]
  .github/workflows/delete_old_packages.yml
  .github/workflows/yarn_update.yml
Due: prettier

chore: Replace prettier with oxfmt
  AGENTS.md
  lefthook.yml
  oxfmt.config.ts
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/tsconfig.json
  yarn.lock
Due: prettier, oxlint, eslint

chore: Replace prettier with oxfmt (#1391)
  AGENTS.md
  lefthook.yml
  oxfmt.config.ts
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/tsconfig.json
  yarn.lock
Due: prettier, oxlint, eslint

chore(release): 1.14.29 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  9f398914c414a0720e47d13d705e99cc04af4f65
Due: none

chore(deps): Bump @ffflorian/oxfmt-config to 1.3.0
  .prettierignore
  oxfmt.config.ts
  package.json
  yarn.lock
Due: prettier, oxlint, eslint

chore(deps): bump yarn to version 4.18.1
  .yarn/releases/yarn-4.18.0.cjs
  .yarn/releases/yarn-4.18.1.cjs
  .yarnrc.yml
  package.json
Due: prettier

chore(release): 1.14.30 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  dc90615ddaf23b7803a22db8716970bea23abeb6
Due: none

chore(release): 1.14.31 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  8a6ee5725bf7e292b8b2a3b25b3ab7e33bdab193
Due: none
