Repository ffflorian/sauerteig: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{js,ts,jsx,tsx,css,csv,md,json,yml,yaml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

chore: Add nginx.conf
  nginx.conf
Due: none

chore: remove .env dependency, replace with conditional build settings (#1106)
  .env
  .env.development
  Dockerfile
  index.html
  public/index.html
  vite.config.ts
Due: prettier, oxlint, eslint

fix: base in vite config
  vite.config.ts
Due: prettier, oxlint, eslint

chore: Remove ESLint from vite config
  vite.config.ts
Due: prettier, oxlint, eslint

Deploying to gh-pages from @ ffflorian/sauerteig@452d325e5f5916b98424a5657450bec210fd9a8c 🚀
  assets/index-BhtiIV_O.js
  assets/index-D_2F459h.css
  img/favicon.ico
  img/favicon.png
  img/sauerteig.svg
  img/sauerteig_128.png
  img/sauerteig_16.png
  img/sauerteig_192.png
  img/sauerteig_256.png
  img/sauerteig_32.png
  img/sauerteig_512.png
  img/sauerteig_64.png
  img/sauerteig_96.png
  index.html
  manifest.json
  robots.txt
Due: prettier, oxlint, eslint

chore: Disable GH pages
  .github/workflows/build_test_publish.yml
Due: prettier

Pin Docker image digests and add Dependabot docker updates
  .github/dependabot.yml
  Dockerfile
Due: prettier

chore: Pin Docker image digests and add Dependabot docker updates (#1108)
  .github/dependabot.yml
  Dockerfile
Due: prettier

chore: remove invalid Dependabot docker versioning strategy
  .github/dependabot.yml
Due: prettier

chore: ignore Node 25 Docker updates in Dependabot
  .github/dependabot.yml
Due: prettier

chore: ignore Node 25 Docker updates in Dependabot (#1110)
  .github/dependabot.yml
Due: prettier

chore: remove invalid Dependabot docker versioning strategy (#1109)
  .github/dependabot.yml
Due: prettier

chore(deps): bump yarn to version 4.14.1
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

chore: Run yarn update check only on main branch
  .github/workflows/yarn_update.yml
Due: prettier

chore: update yarn config
  .yarnrc.yml
Due: prettier

refactor: add job-level permissions to workflows
  .github/workflows/build_test_publish.yml
  .github/workflows/force-release.yml
  .github/workflows/git_mirror.yml
  .github/workflows/yarn_update.yml
Due: prettier

chore: add workflow permissions
  .github/workflows/build_test_publish.yml
  .github/workflows/codeql.yml
  .github/workflows/force-release.yml
  .github/workflows/git_mirror.yml
  .github/workflows/yarn_update.yml
Due: prettier

fix permissions
  .github/workflows/build_test_publish.yml
Due: prettier

fix permissions
  .github/workflows/codeql.yml
  .github/workflows/force-release.yml
  .github/workflows/git_mirror.yml
  .github/workflows/yarn_update.yml
Due: prettier

Update codeql.yml
  .github/workflows/codeql.yml
Due: prettier

chore: add job-level permissions to workflows (#1121)
  .github/workflows/build_test_publish.yml
  .github/workflows/codeql.yml
  .github/workflows/force-release.yml
  .github/workflows/git_mirror.yml
  .github/workflows/yarn_update.yml
Due: prettier

chore: Rename workflow
  .github/workflows/lint_test_build.yml
Due: prettier

chore: Enable @types/node updates for <= 24.x
  .github/dependabot.yml
Due: prettier

chore: Add Dependabot cooldown [ci skip]
  .github/dependabot.yml
Due: prettier

chore(deps): Update nginx to 1.31.0
  Dockerfile
Due: none

chore: Check weekly for dependency updates
  .github/dependabot.yml
Due: prettier

chore: Add release cooldown for yarn update
  .github/workflows/yarn_update.yml
Due: prettier

update node everywhere
  .github/dependabot.yml
  .github/workflows/lint_test_build.yml
  Dockerfile
  package.json
Due: prettier

update lockfile
  yarn.lock
Due: none

chore: Group react updates
  .github/dependabot.yml
Due: prettier

fix: Install yarn manually
  Dockerfile
Due: none

fix: Add missing stage name in Dockerfile
  Dockerfile
Due: none

chore: Disable server header in nginx
  Dockerfile
  nginx.conf
Due: none

chore: Publish Docker image
  .github/workflows/build_test_publish.yml
  .github/workflows/lint_test_build.yml
Due: prettier

chore: Disable npm update message in Docker
  Dockerfile
Due: none

ci: Delete old packages
  .github/workflows/delete_old_packages.yml
Due: prettier

chore(deps): Bump nginx to 1.31.1
  Dockerfile
Due: none

chore(deps): Bump node to 26.2.0
  Dockerfile
Due: none

ci: Deploy latest image
  .github/workflows/build_test_publish.yml
Due: prettier
