Repository ffflorian/sauerteig: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{js,ts,jsx,tsx,css,csv,md,json,yml,yaml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

ci: Use variable in delete_old_packages.yml
  .github/workflows/delete_old_packages.yml
Due: prettier

chore(deps): Use non-scoped lefthook package
  package.json
  yarn.lock
Due: prettier

fix: Add health endpoint to nginx config
  nginx.conf
Due: none

ci: Add release workflow
  .github/workflows/lint_test_publish.yml
  Dockerfile
Due: prettier

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  1041e9ad3abaac3eebb20cdbd2b3a0d6b4907581
Due: none

chore: Enable tests on PRs
  .github/workflows/lint_test_publish.yml
Due: prettier

ci: Delete old workflow
  .github/workflows/build_test_publish.yml
Due: prettier

chore: Enable tests on PRs and delete old workflow (#1149)
  .github/workflows/build_test_publish.yml
  .github/workflows/lint_test_publish.yml
Due: prettier

ci: Update yarn-update workflow
  .github/workflows/yarn_update.yml
Due: prettier

chore(deps): bump yarn to version 4.15.0
  .yarn/releases/yarn-4.14.1.cjs
  .yarn/releases/yarn-4.15.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

chore: Delete .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Due: prettier

ci: Set name and custom command for force-release [ci skip]
  .github/workflows/force-release.yml
Due: prettier

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier

Notes added by 'git notes add'
  f117a31abc0bf4aca7deeb9a48701653711aa4bd
Due: none

chore(deps): Update force-release to v1.21.3 [ci skip]
  .github/workflows/force-release.yml
Due: prettier

ci: Rename force release workflow [ci skip]
  .github/workflows/force_release.yml
Due: prettier

ci: Update yarn_update workflow [ci skip]
  .github/workflows/force-release.yml
  .github/workflows/yarn_update.yml
Due: prettier

ci: Update force_release workflow [ci skip]
  .github/workflows/force_release.yml
Due: prettier

feat: add step number to URL hash for bookmarking
  src/SauerteigProvider.tsx
Due: prettier, oxlint, eslint

feat: add step number to URL hash for bookmarking (#1166)
  src/SauerteigProvider.tsx
Due: prettier, oxlint, eslint

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  f9293992553db26ce481548c8369727a5b95e974
Due: none

feat: deploy only on release publication
  .github/workflows/deploy.yml
  .github/workflows/lint_test_publish.yml
  AGENTS.md
Due: prettier

Update deploy.yml
  .github/workflows/deploy.yml
Due: prettier

ci: deploy only on release publication (#1167)
  .github/workflows/deploy.yml
  .github/workflows/lint_test_publish.yml
  AGENTS.md
Due: prettier

ci: Build before release
  .github/workflows/lint_test_publish.yml
Due: prettier

feat: add VERSION and COMMIT build args to Dockerfile and expose as meta tags
  Dockerfile
  index.html
Due: none

feat: add VERSION and COMMIT build args to Dockerfile and expose as meta tags (#1169)
  Dockerfile
  index.html
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  e7d698e9cffcc9ed3e54889ed77208954ffc44d7
Due: none

ci: Move deploy job back to main workflow
  .github/workflows/deploy.yml
  .github/workflows/lint_test_publish.yml
Due: prettier

chore(deps): bump yarn to version 4.16.0
  .yarn/releases/yarn-4.15.0.cjs
  .yarn/releases/yarn-4.16.0.cjs
  .yarnrc.yml
  package.json
Due: prettier

ci: Update git_mirror workflow [ci skip]
  .github/workflows/git_mirror.yml
Due: prettier

chore: Update dependabot config [ci skip]
  .github/dependabot.yml
Due: prettier

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  4dea909c031e67a81976455b9975cefd222f8ae5
Due: none

fix: Install yarn with apk
  Dockerfile
Due: none

fix: Install yarn with apk (#1178)
  Dockerfile
Due: none
