Repository ffflorian/sauerteig: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint, eslint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    prettier:
      glob: '*.{js,ts,jsx,tsx,css,csv,md,json,yml,yaml}'
      run: npx --no-install prettier --write {staged_files} && git add {staged_files}
    oxlint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx --no-install oxlint --ignore-path .gitignore --fix {staged_files} && git add {staged_files}
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx --no-install eslint --fix {staged_files} && git add {staged_files}

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  11aeaafe839d6a68919e4e0ec88253db6e5bf502
Due: none

ci: Rename main workflow
  .github/workflows/main.yml
Due: prettier

ci: Rename main workflow (#1179)
  .github/workflows/main.yml
Due: prettier

feat: Style improvements
  .gitignore
  src/Content.tsx
  src/index.css
Due: prettier, oxlint, eslint

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  79d4d65dcea7b07caf880c70e4c7ebce71f02df0
Due: none

feat: add checkboxes with wavy strikethrough to recipe steps
  src/Content.tsx
  src/Introduction.tsx
  src/SauerteigContext.ts
  src/SauerteigProvider.tsx
  src/Step.tsx
  src/data.ts
  src/index.css
Due: prettier, oxlint, eslint

feat: add checkboxes with wavy strikethrough to recipe steps (#1181)
  src/Content.tsx
  src/Introduction.tsx
  src/SauerteigContext.ts
  src/SauerteigProvider.tsx
  src/Step.tsx
  src/data.ts
  src/index.css
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  fa7a3f0f3242eb9bcce4717a0eb7d3036cf8dff6
Due: none

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
Due: prettier

feat: add per-step reminder timers and persist checkbox state
  AGENTS.md
  src/ReminderTimer.tsx
  src/Step.tsx
  src/data.ts
  src/index.css
Due: prettier, oxlint, eslint

wording
  Rezept.md
  src/data.ts
Due: prettier, oxlint, eslint

fix: prevent blank countdown label in final sub-second tick
  src/ReminderTimer.tsx
Due: prettier, oxlint, eslint

ci: Add missing output
  .github/workflows/main.yml
Due: prettier

feat: add per-step reminder timers and persist checkbox state (#1182)
  AGENTS.md
  Rezept.md
  src/ReminderTimer.tsx
  src/Step.tsx
  src/data.ts
  src/index.css
Due: prettier, oxlint, eslint

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  789e41832010636e3ec16c0cd8b3956b2196d3b9
Due: none

fix: use dative case "Tagen" in reminder button label
  src/ReminderTimer.tsx
Due: prettier, oxlint, eslint

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  56b760fcaf2000f1187b6c1de76589e8e3b93057
Due: none

docs: improve README and update AGENTS guide
  AGENTS.md
  README.md
Due: prettier

docs: improve README and update AGENTS guide (#1183)
  AGENTS.md
  README.md
Due: prettier

fix: show timers and step numbers on iOS Safari
  AGENTS.md
  src/ReminderTimer.tsx
  src/index.css
Due: prettier, oxlint, eslint

fix: show timers and step numbers on iOS Safari (#1184)
  AGENTS.md
  src/ReminderTimer.tsx
  src/index.css
Due: prettier, oxlint, eslint

chore(release): 1.5.2 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  e120c528f6abca0ea412fc0f37a1856912e4217b
Due: none

feat: make app installable as PWA and prompt iOS users to install
  index.html
  public/manifest.json
  src/InstallPrompt.tsx
  src/ReminderTimer.tsx
  src/index.css
  src/iosPwa.ts
Due: prettier, oxlint, eslint

feat: make app installable as PWA and prompt iOS users to install (#1185)
  index.html
  public/manifest.json
  src/InstallPrompt.tsx
  src/ReminderTimer.tsx
  src/index.css
  src/iosPwa.ts
Due: prettier, oxlint, eslint

Notes added by 'git notes add'
  bd9c1751c1f2fa627a14ee04fc54ab46d3d43bfe
Due: none

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
Due: prettier

feat: add info icon to reopen install hint after dismissal
  src/ReminderTimer.tsx
  src/index.css
Due: prettier, oxlint, eslint

feat: add info icon to reopen install hint after dismissal (#1186)
  src/ReminderTimer.tsx
  src/index.css
Due: prettier, oxlint, eslint

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  25b7e22f2513cf3bd6b7dd67b2edbc2efb3a484a
Due: none

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  d74cc3e1393233995d5f85fe7938f9ff5fc572f5
Due: none

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
Due: prettier
